<h2>本当に退会しますか？</h2>
<p>退会すると会員登録情報やこれまでの購入履歴が閲覧できなくなります。
退会する場合は、「退会する」をクリックしてください。
</p>

 <%= form_with(url: withdraw_public_customers_path,local:true,method: :patch)  do |f| %>
      
      <div class="form-group">
        <%= f.submit "退会する", class: 'btn btn-secondary' %>
      </div>
  <% end %>
  
 <div>
        <span> <%= link_to public_customer_path(current_customer), class: "btn btn-outline-secondary btn-block confilm_public_customer_#{}" do %> 退会しない<% end %></span>
 </div>
       