/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 *{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

main{
    padding: 40px;
    background-color: #FFFFEE;
}

header{
    background-color: #CCFFFF;
}

.index-card{
    width: 200px;
    margin: 10px;
}

.top-card{
    display: flex;
}

.card{
    width: 200px;
    heigth: 250px;
}

.about{
    margin: 0px 0px 20px 0px;
    text-align: center;
}

.new{
    display:flex;
    margin: 0px 15px 5px 0px;
}

.new-btn{
    margin: 0px 0px 0px 240px;
}

.top-link{
    width: 100%;
    text-align: right;
}

.index-title{
    text-align: center;
    color: #000000;
}

.title-name{
    width: 400px;
    text-align: center;
    background-color: #CBFFD3;
}

.customer-show{
    margin: 10px 0px 5px 0px;
}

.index-body{
    padding: 20px 10px 0px 10px;
}

.price{
    margin: 30px 0px;
}

.cart{
    margin: 30px 0px;
}


.green{
    color: #00ff00;
} 

.gray{
    color: #c0c0c0; 
}

.red{
    color: #ff0000;
}

.title{
    margin: 20px 0px 0px 0px;
}

.show{
    margin: 20px;
}

.edit{
    margin: 40px 20px 20px 20px;
}

.delivery{
    margin: 10px 20px 0px 20px;
}

.customer-show{
    margin: 30px 0px 0px 0px;
}

.destroy{
    margin: 0px 0px 0px 50px;
}




footer{
  width: 100%;
    background-color: #CCFFFF;
    padding: 30px 0;
}



