  <header id="header">
    <h1>Logo</h1>
    <nav>
    <ul id="g-navi">
      <li><a href="#area-1">Area1</a></li>
      <li><a href="#area-2">Area2</a></li>
      <li><a href="#area-3">Area3</a></li>
    </ul>
  </nav>
  </header>